
body {
    background-image: url("../images/fo.png");
 
  

}
.w3-bar-item {
  color: blueviolet;
}
h2 {
  color: black;
  text-align: center;
}

p {
   color: darkorchid;
  font-family: blue;
  font-size: 20px;
}
